<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Name</key>
	<string>Forvo</string>
	<key>Extension Identifier</key>
	<string>com.dwlee.popclip.extension.forvo</string>
	<key>Extension Description</key>
	<string>Open Forvo in a web browser with the selected text.</string>
	<key>Actions</key>
	<array>
		<dict>
			<key>URL</key>
			<string>https://forvo.com/search/{popclip text}/en/</string>
			<key>Image File</key>
			<string>forvo.png</string>
			<key>Title</key>
			<string>Forvo</string>
		</dict>
	</array>
</dict>
</plist>